// Place all the styles related to the Epicenter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#trends-card {
    height: 320px;
}

a, a:visited {
    color: #337b87;
}

a:hover {
    background-color: none;
}
